{% extends "final/base.html" %}

{% block content %}

<h1>Welcome!</h1>

<p> In this website we aim to understand the benefits of fact-checking as a
    crowdsource activity.

    Write more detail explanation.
</p>
<p>
    The main objective of the subreddit is to classify a thread as one of 7 different categories.
    The community will post an statement and then a discussion will follow, in which the members
    will try to credit or discredit the statement. After the discussion takes place, a moderator
    decides the flair assigned to the topic. The flares categories are:  [Partisan Bias, None ,False,
    Please Verify, Confirmed, Mod Post/Meta, Mostly True, Mostly False, Half True, Unverifiable].


</p>


{% endblock %}
