{% extends "final/base.html" %}

{% block content %}

<h1>Model Prediction</h1>

<p>In this area of the project we will convert the data into a classification problem, with the characteristics of a thread as the features and the flair labels as the predictive goal. The main objective of this area is to test if a reliable classification model can be created using the current data located in the politifact subreddit. If the model results to be accurate above a specific threshold, then we will proceed to provide an interface to interact with our model.
</p>

{% endblock %}
